extends ../layout/index
block contenido
    main.container.mt-5
        .row
            .col-md-5
                img(src="img/nosotros.jpg", alt="Imagen de Nosotros", class="img-fluid")
            .col-md-7
                h1 #{pagina}
                blockquote  Maecenas dignissim diam urna, eu sodales mi mattis quis. Donec sit amet convallis leo, ac convallis dui. Mauris vel lacus risus. Phasellus elit quam, viverra at mauris fermentum, varius tempus elit. Praesent fringilla mi lacus. Etiam ullamcorper quis lectus a faucibus. Praesent non interdum erat.
                p Sed quis leo mollis, pretium dui vitae, luctus urna. Integer non rhoncus ante.
                p Aliquam congue placerat ligula, et pretium mauris suscipit convallis. Suspendisse rhoncus sapien sed tellus commodo, at elementum enim condimentum. Integer rhoncus tortor ac turpis mollis, id bibendum urna dignissim. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. In hac habitasse platea dictumst. Cras bibendum ultrices enim a convallis. Ut commodo semper convallis.
    .listado-iconos
        .container.mt-5.py-5.text-center
            .row
                .col-md-4
                    img(src="img/icono_seguridad.svg", class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p Aliquam congue placerat ligula, et pretium mauris suscipit convallis. Suspendisse rhoncus sapien sed tellus commodo, at elementum.
                .col-md-4
                    img(src="img/icono_destinos.svg", class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos
                    p Aliquam congue placerat ligula, et pretium mauris suscipit convallis. Suspendisse rhoncus sapien sed tellus commodo, at elementum.
                .col-md-4
                    img(src="img/icono_precios.svg", class="img-fluid mb-4")
                    h2.mb-4 Mejor Precio
                    p Aliquam congue placerat ligula, et pretium mauris suscipit convallis. Suspendisse rhoncus sapien sed tellus commodo, at elementum. 